.terms__navbar {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.landingpage__logo span {
  font-weight: normal;
  font-size: 1rem;
  line-height: 30px;
  color: #233A51;
}

.download__terms a {
  background: hsl(240 4% 95%);
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #233A51;
  text-decoration: none;
}

.terms__content__options,
.terms__content__detail {
  padding-top: 120px;
}

.terms__content__options {
  overflow: auto;
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 0;
}

.terms__content__options ul li a {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 28px;
  color: #49516A;
  padding: 10px 0;
  display: block;
  text-decoration: none;
}

.terms__content__options ul li a.active {
  color: #58C4CB;
}

.terms__content__options ul li a:hover {
  color: #58C4CB;
}

.terms__content__detail h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: 72px;
  color: #111010;
  padding-bottom: 16px;
  padding-top: 70px;
}

.terms__content__detail p {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  color: #49516A;
  /* padding-bottom: 70px; */
  text-align: justify;
}

@media screen and (max-width: 536px) {
  .download__terms {
    padding-top: 25px;
  }
}

@media screen and (max-width: 280px) {
  .terms__content__detail h1 {
    font-size: 2rem;
    line-height: 45px;
  }
}
